//main style
  .blog-article {
    min-height: 600px;
    width: 860px;
    padding: 40px;
    background-color: #FFF;
    text-align: left;
    float: right;
    overflow-y: scroll;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    border-radius: 4px;
    transition: all .5s;
    .blog-title {
      text-align: center;
      .blog-tags {
          text-align: left;
          li {
            display: inline-block;
            margin-right: 8px;
            background: #77ddff;
            border-radius: 2px;
            padding: 4px;
          }
      }
      h1 {
        font-size: 24px;
        font-family: serif;
        font-weight: 700;
      }
    }
    @media screen and ( max-width: 1400px ) {
      width: auto;
      float: none;
      margin: 0 auto;
    }
  }
//public style
$blog-all-width: 60%;
.blog-sidebar-toggle {
  height: 0;
  transition: all .5s;
}
.blog-all-public {
  .blog-all-single {
    width: 100%;
    height: 140px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 120px;

    &:hover {
      color: #0085a1;
    }

    hr {
      width: $blog-all-width;
      margin-top: 40px;
      margin-bottom: 20px;
      border-color: #eee;
    }
  }
  .blog-all-title {
    font-size: 36px;
    font-weight: 700;
  }
  .blog-all-desc {
    font-size: 36px;
    height: 60px;
    font-weight: 700;
    font-style: italic;
    color: #3ca3c9;
    text-align: center;

    p {
      font-size: 24px;
    }
  }
  $blog-all-body-font: 18px;
  .blog-all-body {
    width: $blog-all-width;
    height: 120px;
    font-size: $blog-all-body-font;
    line-height: $blog-all-body-font + 8;
    font-style: italic;
    color: #a3a3a3;
    overflow: hidden;
    text-overflow: "…";

    &:hover {
      color: #0085a1;
    }
  }
  .blog-all-date {
    font-size: $blog-all-body-font + 2;
    font-style: italic;
    color: #ccc;
  }
}

//toggle mode main blog style
$bg-img-height: 580px;
.blog-article-toggle {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  min-height: 120%;
  background: url(./images/timg.png) no-repeat;
  background-size: 100% $bg-img-height;
  background-color: #FFF;
  transition: all .5s;


  .blog-all {
    position: absolute;
    top: $bg-img-height;
    left: 15%;

    .blog-all-desc {
      position: absolute;
      font-size: 46px;
      top: - $bg-img-height / 2 - 40;
      left: 30%;
      font-weight: 700;
      color: #FFF;
      text-shadow: 0 0 4px;
    }
  }


  .blog-title {
    position: absolute;
    left: 20%;
    text-align: left;
    margin-top: $bg-img-height / 2 - 56;
    .blog-tags {
      li {
        display: inline-block;
        color: #FFF;
        font-size: 14px;
        border: 1px solid #FFF;
        border-radius: 20px;
        padding: 4px 8px;
        margin: 0 12px 40px 0;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, .5);
        }
      }
    }
    h1 {
      font-size: 56px;
      color: #FFF;
    }
    i {
      font-size: 24px;
      color: #FFF;
      font-style: italic;
      line-height: 38px;
    }
  }

  .blog-main-body {
    position: absolute;
    top: $bg-img-height;
    left: 15%;
    text-align: left;
    width: 60%;

    div {
      margin: 30px;
    }
  }


}
