$padding: 85px;

.blog-body {
  // margin: 0 auto;
  // margin-top: $nav-height;
  padding: 100px $padding;
  height: 100%;
  background-color: #F3F3F3;
  text-align: center;
  transition: all .5s;
  text-align: left;
  background: #FFF;

  $sidebar-width: 280px;
  $sidebar-mb: 24px;

  .blog-sidebar {
    position: fixed;
    width: $sidebar-width;
    height: auto;
    float: left;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
    // background: #FFF;

    @media screen and ( max-width: 1400px ) {
      display: none;
    }
    .blog-sidebar-public {
      width: $sidebar-width;
      background: #FFF;
      margin-bottom: $sidebar-mb;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
      border-radius: 4px;
      padding-top: 12px;
      padding-left: 12px;
      word-break: break-all;
    }
    .blog-type {
      height: 96px;
      overflow: scroll;
      ul {
        li {
          display: inline-block;

          p {
            font-size: 16px;
          }
        }
      }
    }
    .blog-list {
      height: 320px;
      overflow: scroll;

      .blog-list-option {
        margin-bottom: 12px;

        span {
          display: inline-block;
          padding: 4px 8px;
          margin-right: 8px;
          background: rgb(187, 187, 238);
          color: #FFF;
          border-radius: 4px;
        }
      }

      ul {
        li {
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 14px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 800;


          .public-date {
            font-size: 12px;
            color: #4cc6f7;
          }
        }
      }
    }
    .blog-mine {
      height: 120px;
    }
  }

}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
