<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/toolbar/toolbar_icon.css">
  <title>toobar-icon</title>
</head>
<body>
  <div class="toolbar">
    <a href="javascript:;" class="toolbar-item">
      <span class="toolbar-btn">
        <i class="toolbar-icon icon-wechat"></i>
        <span class="toolbar-text">公众<br />账号</span>
      </span>
      <span class="toolbar-layer toolbar-layer-weixin"></span>
    </a>

    <a href="javascript:;" class="toolbar-item">
      <span class="toolbar-btn">
        <i class="toolbar-icon icon-file-text"></i>
        <span class="toolbar-text">意见<br />反馈</span>
      </span>
    </a>

    <a href="javascript:;" class="toolbar-item">
      <span class="toolbar-btn">
        <i class="toolbar-icon icon-mobile"></i>
        <span class="toolbar-text">App<br />下载</span>
      </span>
      <span class="toolbar-layer toolbar-layer-app"></span>
    </a>

    <a href="javascript:;" class="toolbar-item">
      <span class="toolbar-btn">
        <i class="toolbar-icon icon-arrow-up2"></i>
        <span class="toolbar-text">回到<br />顶部</span>
      </span>
    </a>
  </div>
</body>
</html>
