<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/progress/progress.css">
  <script src="../../../node_modules/babel-browser/browser.min.js"></script>
  <title>progress</title>
</head>
<body>
<div id="loading-line"></div>

<div class="loading" id="loading">
  <div class="loading-img"></div>
</div>

<div class="loading-num" id="loading-num">
  <span><b id="num">0</b>%</span>
  <span class="loading-pic"></span>
</div>
<iframe src="https://github.com/soFlyMan?tab=repositories" width="0px" height="0px"></iframe>
<img src="https://www.google.co.jp/imgres?imgurl=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farchive%2F4f5927332e33d9cc75a3115f35452fbdd1b59bdc.jpg&imgrefurl=https%3A%2F%2Fwww.bilibili.com%2Fvideo%2Fav5378846%2F&docid=8vmSkPAUdijnVM&tbnid=_8WTUr4mMCXjlM%3A&vet=10ahUKEwie2KfVptvVAhVFebwKHTyWDmkQMwglKAAwAA..i&w=2500&h=1562&bih=803&biw=1435&q=re0&ved=0ahUKEwie2KfVptvVAhVFebwKHTyWDmkQMwglKAAwAA&iact=mrc&uact=8" alt="" class="fade-in">
<img class="fade-in" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1502860219083&di=777c368633dd6b783ff9fffb410ba590&imgtype=0&src=http%3A%2F%2Fd.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F72f082025aafa40fe871b36bad64034f79f019d4.jpg" alt="">
<img class="fade-in" src="http://image.baidu.com/search/detail?ct=503316480&z=9&tn=baiduimagedetail&ipn=d&word=re0&step_word=&ie=utf-8&in=&cl=2&lm=-1&st=undefined&cs=3913792356,2822438928&os=3952140664,1388083515&simid=3496067541,367473834&pn=0&rn=1&di=59553450440&ln=1773&fr=&fmq=1502871315900_R&fm=&ic=undefined&s=undefined&se=&sme=&tab=0&width=0&height=0&face=undefined&is=0,0&istype=0&ist=&jit=&bdtype=0&spn=0&pi=0&gsm=3c&objurl=http%3A%2F%2Fatt.bbs.duowan.com%2Fforum%2F201607%2F11%2F1716349c03tmotoqs4o3a0.jpg&rpstart=0&rpnum=0&adpicid=0" alt="" ／>
<img class="fade-in"         src="http://image.baidu.com/search/detail?ct=503316480&z=9&tn=baiduimagedetail&ipn=d&word=re0&step_word=&ie=utf-8&in=&cl=2&lm=-1&st=undefined&cs=1708055551,3240993282&os=3729441439,1424873097&simid=3310174681,346198291&pn=2&rn=1&di=18564747740&ln=1773&fr=&fmq=1502871315900_R&fm=&ic=undefined&s=undefined&se=&sme=&tab=0&width=0&height=0&face=undefined&is=0,0&istype=0&ist=&jit=&bdtype=0&spn=0&pi=0&gsm=3c&objurl=http%3A%2F%2Fi1.hdslb.com%2Fbfs%2Farchive%2F811dba9be691fe7b316216bc3ef74cb1e7e2bf34.jpg&rpstart=0&rpnum=0&adpicid=0" alt="" ／>
<img class="fade-in" src="http://img4.imgtn.bdimg.com/it/u=742516549,569769621&fm=26&gp=0.jpg" alt="">

</body>
<script src="./progress.js"></script>
</html>
